@media only screen and (min-width:720px) and (max-width:991px){
    .Uploadimage{
        display: none;
    }
}

@media only screen and (min-width:320px) and (max-width:720px){
    .Uploadimage{
        display: none;
    }
}

@media (max-width: 768px) {
  .hero-content {
    text-align: center;
  }
}


@media only screen and (min-width:992px) and (max-width:1400px){
    .Uploadimage{
        display: none;
    }
}